<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body class="container">
    <h2>Loop</h2>

    <p>
      <%
        var c= 2
        <% c %>
        for (var i=0; i<=5; i++){
          %>
          <% nameList.length  %>
          <% i  %>
          <% nameList[i] %>
          <%
        } %>
    </p>

    <!-- <ul>
        <% nameList.forEach(function(nameList) { %>
            <li><%= nameList %> </li>
        <% }); %>
    </ul> -->
  </body>
</html>
